body {
	background-color: #d3dde6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rubik', sans-serif;
}

table {
	background-color: #ffffff !important;
	box-shadow: 0 2px 7px 0 rgba(5, 34, 97, .1);
}

.daterangepicker .calendar-table th {
	border-radius: none !important;
}

small {
	color: rgb(83, 92, 104);
}

label {
	font-family: 'Poppins', sans-serif;
	color: #030303;
	font-size: 12px;
	font-weight: 600;
}

.t-md {
	font-size: 1em;
}

th {
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
	font-size: .7em;
	font-weight: 600;
	letter-spacing: 1px;
	background-color: #70a1ff !important;
	color: #ffffff !important;
}

td {
	text-transform: capitalize;
}

.active {
	font-weight: 600;
}

.nav-link,
.nav-item,
a:link {
	text-transform: capitalize;
	letter-spacing: 1px;
	color: rgb(83, 92, 104);
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}

.btn-text {
	text-transform: capitalize;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none !important;
	color: #000000;
	font-weight: 600;
}

.title {
	text-transform: capitalize;
	letter-spacing: 1px;
	color: #130f40;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

.text-judul {
	text-transform: capitalize;
	letter-spacing: 1px;
	color: #130f40;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
}

.nav-link.active {
	color: #70a1ff !important;
}

.td1 {
	width: 1em;
}

.card-img-top {
	width: 70% !important;
}

.card-lg {
	margin: auto;
	width: 70rem;
}

.card-md {
	margin: auto;
	width: 48rem;
}

.card-sm {
	margin: auto;
	width: 21rem;
}

.card-xs {
	margin: auto;
	width: 18rem;
}

.top-border {
	border-top: 3px solid #70a1ff;
}

/* 
custom scroll 
 */
.scroll {
	/* height: auto; */
	overflow-y: scroll;
	max-height: 26em;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/* background: #888; */
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* soft color  */

.badge-soft-primary {
	color: #3a2ca3;
	background-color: #dedaff;
}

.badge-soft-secondary {
	color: #3c3e57;
	background-color: #d5d6db;
}

.badge-soft-success {
	color: #238a5f;
	background-color: #d7f7ea;
}

.badge-soft-info {
	color: #2f709f;
	background-color: #dbeffe;
}

.badge-soft-warning {
	color: #cb9340;
	background-color: #fff1dc;
}

.badge-soft-danger {
	color: #a31f3f !important;
	background-color: #ffd6e0 !important;
}

.badge-soft-light {
	color: #a0a0a3;
	background-color: #fefeff;
}

.badge-soft-dark {
	color: #070811;
	background-color: #cecfd1;
}
